@import "./MDC-Baseline";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";
@import "@material/textfield/mdc-text-field";
@import "@material/card/mdc-card";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/button/mdc-button";
@import "@material/linear-progress/mdc-linear-progress";

.navbar {
  height: 72px;

  &-row {
    height: 100%;
  }

  &-section {
    height: 100%;
    padding: 0 24px;
    align-items: center;
  }

  &-title {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    margin-left: 14px;
    text-decoration: inherit;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: #fff;

    &-link {
      padding: 0;
      text-decoration: none;
      margin: 0;
      display: flex;
    }
  }

  &-logo {
    margin: 0;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #fff;
  }
}

.login {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient($mdc-theme-primary, $mdc-theme-secondary 75%);

  &-section {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    display: inline-block;
    padding: 2.5em;
  }

  &-title {
    line-height: 1em;
  }

  &-logo {
    width: 150px;
    height: 150px;
    fill: currentColor;
  }

  &-username,
  &-password {
    text-align: left;
    display: block;
    width: 300px;
    margin: 20px auto;
  }

  &-button_container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
  }

  &-button_container button {
    margin: 3px;
  }

  &-next {
  }
}

.config {
  &-logout {
    margin: 1rem;
  }
}
