$mdc-theme-primary: #00bcd4;
$mdc-theme-primary-light: #62efff;
$mdc-theme-primary-dark: #008ba3;
$mdc-theme-secondary: #455a64;
$mdc-theme-secondary-light: #718792;
$mdc-theme-secondary-dark: #1c313a;
$mdc-theme-on-primary: #212121;
$mdc-theme-on-secondary: #ffffff;

body {
  @extend .mdc-typography;
  margin: 0;
}

h1 {
  @extend .mdc-typography--headline1;
}

h2 {
  @extend .mdc-typography--headline2;
}

h3 {
  @extend .mdc-typography--headline3;
}

h4 {
  @extend .mdc-typography--headline4;
}

h5 {
  @extend .mdc-typography--headline5;
}

h6 {
  @extend .mdc-typography--headline6;
}

h4 {
  @extend .mdc-typography--headline4;
}
