$mdc-theme-primary: #fcb8ab;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;

body {
  @extend .mdc-typography;
  margin: 0;
}

h1 {
  @extend .mdc-typography--headline1;
}

h2 {
  @extend .mdc-typography--headline2;
}

h3 {
  @extend .mdc-typography--headline3;
}

h4 {
  @extend .mdc-typography--headline4;
}

h5 {
  @extend .mdc-typography--headline5;
}

h6 {
  @extend .mdc-typography--headline6;
}

h4 {
  @extend .mdc-typography--headline4;
}
